<app-header>
  <img class="h-28 bg-transparent mr-4"
    src="https://raw.githubusercontent.com/PokeAPI/sprites/6b6d9a9f269d2e5a2859e65f162aafff1087d8e6/sprites/pokemon/other/dream-world/7.svg"
    alt="Squirtle" />
  <h1 class="tracking-tight text-3xl text-white font-extrabold">Your pokemon collection!</h1>

</app-header>
<main class="bg-light-grey text-center h-full flex flex-wrap content-start">
  <div *ngIf="user">

    <app-pokemon-list [pokemons]="collected"></app-pokemon-list>

  </div>
</main>